
<div class="active-comment-form pull-left" id="form-comment-view">
	<div class="row">
		
		<div class="col-md-12">
			<f:form action="create" name="newComment" class="form-comment" object="{newComment}" addQueryString="1" >
				
					<div class="pull-right"><f:image class="comment-form-close-btn" style="display:none;" id="comment-form-close-btn" src="typo3conf/ext/news_comment/Resources/Public/images/fx3_close.jpg"/></div>
					<div class="form-group">
						<f:form.textarea property="description" id="comment-description" placeholder="<f:translate key='tx_newscomment_domain_model_comment.lblwritenewcomments' />*" cols="60" rows="4"  class="validatethis form-control" />
					</div>
				
					<f:if condition="{currentuser.username}">
						<f:then>
							<f:form.hidden property="username" value="{currentuser.username}"/>
						</f:then>
						<f:else>
							<div class="form-group">
								<f:form.textfield property="username" id="comment-username" placeholder="<f:translate key='tx_newscomment_domain_model_comment.username' />*"  class="validatethis form-control" />
							</div>
						</f:else>
					</f:if>

					<f:if condition="{currentuser.email}">
						<f:then>
							<f:form.hidden property="usermail" value="{currentuser.email}"/>
						</f:then>
						<f:else>
							<div class="form-group">
								<f:form.textfield property="usermail" placeholder="<f:translate key='tx_newscomment_domain_model_comment.usermail' />*" type="email" id="usermail" class="validatethis form-control" />
							</div>
						</f:else>
					</f:if>
				
					<f:if condition="{settings.enableWebsiteField}">
						<f:then>
							<div class="form-group">
								<f:form.textfield property="website" placeholder="<f:translate key='tx_newscomment_domain_model_comment.website' />" id="website" class="form-control" />
							</div>
						</f:then>
					</f:if>

					<div class="form-group">
						<f:form.hidden property="newsuid" value="{newsID}"/>
						<f:form.hidden name="parentId" id="parentId" value=""/>
						<f:form.hidden property="pageid" id="pageid" value="{pageid}"/>
						<f:form.submit id="newsCommentSubmit" value="Submit" class="btn btn-primary pull-right btn-xs" />
					</div>
			</f:form>
		</div>
	</div>
</div>