<f:translate key="LLL:EXT:news_comment/Resources/Private/Language/locallang.xlf:tx_newscomment_domain_model_comment.newcommentmailmsg" /><br/>

----------------------------------------------------------------------------<br/>
<f:translate key="LLL:EXT:news_comment/Resources/Private/Language/locallang.xlf:tx_newscomment_domain_model_comment.username" />: {mail.username}<br/>
<f:translate key="LLL:EXT:news_comment/Resources/Private/Language/locallang.xlf:tx_newscomment_domain_model_comment.usermail" />: {mail.usermail}<br/><br/>

<f:translate key="LLL:EXT:news_comment/Resources/Private/Language/locallang.xlf:tx_newscomment_domain_model_comment.description" />: 
{mail.description}