
<table class="tx-news-comment" >
	<tr>
		<td>
			<f:translate key="tx_newscomment_domain_model_comment.newsuid" />
		</td>
		<td>
			{comment.newsuid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newscomment_domain_model_comment.username" />
		</td>
		<td>
			{comment.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newscomment_domain_model_comment.usermail" />
		</td>
		<td>
			{comment.usermail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newscomment_domain_model_comment.usersession" />
		</td>
		<td>
			{comment.usersession}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newscomment_domain_model_comment.description" />
		</td>
		<td>
			{comment.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newscomment_domain_model_comment.rate" />
		</td>
		<td>
			{comment.rate}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newscomment_domain_model_comment.ipaddress" />
		</td>
		<td>
			{comment.ipaddress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newscomment_domain_model_comment.spam" />
		</td>
		<td>
			{comment.spam}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newscomment_domain_model_comment.website" />
		</td>
		<td>
			{comment.website}
		</td>
	</tr>
</table>